.app-admin-li {
  padding-left: 1.4rem;
  padding-right: 2rem;
}

.manage-org-wrapper {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.app-admin-panel-label {
  margin-top: 2rem;
}

.label {
  margin-top: 1rem;
}

.addOrg {
  height: 20rem;
}

.add-org {
  margin-top: 1rem;
}

.add-org-wrapper {
  margin-bottom: 10rem;
}
.organizations-table {
  margin-bottom: 0.8rem;
}

@media screen and (min-width: 873px) {
  .addOrg {
    height: 18rem;
  }
}

.login- {
  height: 23.7rem !important;
}

.wrapper-user-req {
  margin-top: 0.5rem;
}

.payment-btn {
  background: #1b0760;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 20px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.time-slots {
  display: flex !important;
}

.time-slots-Chk-Box {
  margin-left: 2rem;
}

.signup-org-admin {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.org {
  margin: 0;
}

.org-btn {
  margin-top: -1rem;
}

main.org.card-signup.signup-style-org.animate__animated.animate__fadeInLeft {
  margin-bottom: 4rem;
}

.label-signup-org {
  margin-top: 2rem !important;
}

/* SIGNUP AS AN ORGANIZATIONAL ADMIN */
@media screen and (min-width: 300px) {
  .signup-org-group {
    display: flex;
    justify-content: center;
    overflow-y: auto;
  }
  .txt-upload-label {
    margin-top: 1rem !important;
    margin-left: 3rem;
  }
  .txt-upload {
    margin-left: 3rem;
  }

  select#serviceOrg_ {
    width: 6.6rem;
    /* margin-right: 0.7rem; */
  }

  .servies-org {
    margin-left: 2rem;
  }
  .txtField-signup-org {
    width: 6.6rem;
  }
  .dropdown-second-item {
    margin-left: 0.5rem;
  }
  .org-signup {
    width: 22rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .second-item {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 450px) {
  .label-signup-org {
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
  }
  .signup-org-group {
    display: flex;
    justify-content: center;
    overflow-y: auto;
  }
  .txt-upload-label {
    margin-top: 1rem !important;
    margin-left: 3rem;
  }
  .txt-upload {
    margin-left: 3rem;
  }

  select#serviceOrg_ {
    margin: 0;
    width: 10rem;

    /* margin-right: 0.7rem; */
  }
  .servies-org {
    margin-left: 2rem;
  }
  .txtField-signup-org {
    width: 10rem;
  }
  .dropdown-second-item {
    margin-left: 0.5rem;
  }
  .org-signup {
    width: 27rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .second-item {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 600px) {
  .signup-org-group {
    display: flex;
    justify-content: center;
    overflow-y: auto;
  }
  .org-signup {
    width: 40rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .txtField-signup-org {
    width: 14rem;
  }
  select#serviceOrg_ {
    margin: 0;
    width: 14rem;
  }
  .txt-upload-label {
    margin-left: 1rem;
  }
  .servies-org {
    margin-left: 0;
  }
}

@media screen and (min-width: 800px) {
  .price-txt {
    width: 18rem !important;
    margin-left: 1rem;
  }
  .price-label {
    margin-left: 1rem !important;
  }
  .txt-upload-label {
    margin-left: 1rem !important;
  }
  .btn-orgSignUp {
    /* margin-top: 0.3rem !important; */
    padding-bottom: 2rem;
  }
  .signup-org-group {
    display: flex;
    justify-content: center;
    overflow-y: auto;
  }
  .org-signup {
    max-width: 50rem !important;
    width: 40rem !important;
    /* height: 21.5rem; */
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .txtField-signup-org {
    width: 16.5rem;
  }
  select#serviceOrg_ {
    margin: 0;
    width: 16.5rem;
    /* width: 26rem; */
  }
  .txt-upload-label {
    margin-left: 1rem;
  }
  .servies-org {
    margin-left: 0;
  }
}

@media screen and (min-width: 800px) {
  .available-slots {
    max-width: 50rem !important;
    width: 47rem !important;
    /* height: 21.5rem; */
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .avaialble-days-pg {
    height: 100vh;
  }
}

.view-details-btn {
  background-color: gray;
  color: #fff;
  width: 4rem;
  margin-top: 0.1rem;
  height: 2rem;
  border-radius: 20px;
  font-size: 0.8rem;
}

.info {
  background-color: #e7f3fe;
  border-left: 6px solid #2196f3;
}

.warning {
  background-color: #ffffcc;
  border-left: 6px solid #ffeb3b;
}
