.app-admin-li {
  padding-left: 1.4rem;
  padding-right: 2rem;
}

.manage-org-wrapper {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.app-admin-panel-label {
  margin-top: 2rem;
}

.label {
  margin-top: 1rem;
}

.addOrg {
  height: 20rem;
}

.add-org {
  margin-top: 1rem;
}

.add-org-wrapper {
  margin-bottom: 10rem;
}
.organizations-table {
  margin-bottom: 0.8rem;
}

@media screen and (min-width: 873px) {
  .addOrg {
    height: 18rem;
  }
}

.login- {
  height: 23.7rem !important;
}

.wrapper-user-req {
  margin-top: 0.5rem;
}

.payment-btn {
  background: #1b0760;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 20px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.time-slots {
  display: flex !important;
}

.time-slots-Chk-Box {
  margin-left: 2rem;
}
