/* Search Service  */

:root {
  --btnBackground: #ffad00;
  --navColor: #1e1e1e;
  --bgColor: #1e293b;
}
.styleDropDown {
  width: 5rem !important;
}

.small-dropdown {
  margin-left: 1rem;
  width: 12rem;
  margin-top: 0.5rem;
  margin-right: 2rem;
}

.search-by-label {
  text-align: right;
  margin-top: 0.5rem;
  margin-right: 5.5rem;
  margin-bottom: 0.3rem;
  font-size: 1.19rem;
  font-weight: 600;
}

.search-Container {
  display: flex;
  justify-content: flex-end;
}
.small-btn {
  width: 6rem !important;
  margin-left: 1rem;
  padding: 0.2rem;
  height: 3em;
  border-radius: 5px;
  margin-top: 0.7rem;
}

.search-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 4.5rem;
}

.style-User-Request {
  height: 45.5rem;
}

/* EditService */
.icon-name {
  display: flex;
}

.name {
  /* margin-top: 0.5rem; */
  color: #bd1616;
  font-weight: 600;
}
.icon-doc {
  margin-right: 1rem;
}

.doc-table {
  margin-bottom: 0;
}
.table-container {
  width: 180%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doc-table-container {
  background-color: #fff;
  border-radius: 10px;
  /* margin-left: 18rem;
  margin-right: 10rem; */
  padding: 1.5rem;
  /* padding-right: 0.9rem; */
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.table-th {
  background-color: #172774;
  color: #fff;
  border-radius: 15px;
  height: 5rem;
}

.MuiAvatar-root.MuiAvatar-circular.MuiAvatar-colorDefault {
  background-color: steelblue;
}

button.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButtonBase-root.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: #bd1616;
}

/* EditService */
.table-responsive {
  overflow-x: auto;
  border-radius: 13px;
  margin-top: 1rem;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.table-Services {
  margin-top: 0;
}
.editService-container {
  display: flex;

  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4.5rem;
  overflow-x: auto;
  padding: 2rem;
  padding-top: 0.5rem;
  background-color: #fff;
}

/* Admin panel side bar */
.li-add-doc {
  margin-top: 3rem;
}

/* PopOver-dropDown */
.popOver-dropDown {
  margin-bottom: 0.4rem;
}

.search-by {
  margin-left: 1rem;
  font-weight: 600;
  margin-top: 0.4rem;
}

/* table */
table.table.doc-table {
  margin-bottom: 0;
}

/* Admin Nav */

.admin-nav {
  height: 4.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #082032;
}

/* froms error */

.error {
  font-size: 0.85rem;
  color: #ff0000;
  font-weight: 600;
  margin: 0;
  margin-top: -0.4rem;
}

/* dropdown doctorForm & nurseForm */
select#docQualification {
  margin-bottom: 0.5rem;
}

/* Success Message Doctor Form */
.MuiPaper-root.MuiAlert-root.MuiAlert-standardSuccess.MuiPaper-elevation0 {
  margin-top: 0.4rem;
}

.float-button {
  position: fixed;
  bottom: 0.6rem;
  right: 0.6rem;
}

.menuBarZindex {
  z-index: -1 !important;
}

/* App.js admin routes */
/* .admin-routes {
  display: flex;
} */

.admin-li {
  font-size: 1rem;
  /* margin-top: 5rem; */
  padding-top: 3rem;
  padding-left: 2.5rem;
  padding-right: 3rem;
  color: #fff;
  font-weight: 590;
}
.frist-li {
  margin-top: 6rem;
}
.admin-li:active {
  color: #ffad00;
}
.pagination {
  display: flex;
  justify-content: center;
}

.ServicePanel-wrapper {
  margin: auto;
  margin-top: 0.5rem;
}

.editService-style {
  margin-bottom: 0;
}

/* logo hhc */
img.nav-logo.animate__heartBeat {
  height: 6rem;
}

.search-Bar {
  /* height: 2rem; */
  border-radius: 22px;
  width: 35rem;
  border: 0 !important;

  /* border: 3px solid; */

  width: 100%;
  flex-grow: 1;
}
input {
  --tw-ring-color: #ffffff !important;
}

/* *:focus {
  outline: none !important;
} */
.searchBar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.2rem;
  border-radius: 25px;
  display: flex;
  border: 0;
  box-shadow: 0 0 10px 10px rbga(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 10px rgb(0 0 0 / 10%);
  margin-bottom: 3rem;
}

.doc-container {
  /* background: url("/src/Images/bg1.png");
  background-color: #1e293b; */
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/* Nusrse-Doctor Schedule */
.td-schedule {
  border: 1px solid black;
  padding: 10px;
}

.table-schedule {
  border-collapse: collapse;
}

.leave {
  background: url("../../Images/bg1.png");

  background-color: var(--bgColor);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

article.searchBar-wrapper {
  margin: 1rem;
  margin-top: 1.2rem;

  margin-bottom: 0.5rem;
}

.service-card {
  box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 10%);
}

.user-request-wrapper {
  background: url("/src/Images/bg1.png");
  object-fit: cover;
  height: 100vh;
  background-color: var(--bgColor);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.check-availability {
  margin: 0;
  padding: 0;
  color: #1e293b;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
