:root {
  --btnBackground: #afaca5;
  --navColor: #1e1e1e;
  --bgColor: #1e293b;
}

/* SignUp Component */
.card-signup {
  margin-left: auto;
  margin-right: auto;
  background-color: hsl(214, 31%, 91%);

  max-width: 35rem;
  padding-bottom: 1rem;
  /* height: 39rem; */

  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1.3rem;
  z-index: 9999999999999999999999;
  border-radius: 8px;
  margin-top: -2.5rem;
  padding-bottom: 2.3rem;
}

.input {
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 2.5px;
  border: 0;
  height: 2.3rem;
}
/* input[type="checkbox"] {
  width: 2rem;
  height: 1rem;
} */

label {
  font-weight: 600;
  font-size: 0.88rem;
  margin-bottom: 0.2rem;
}

.btns {
  background-color: #232a34;
  width: 100%;

  color: #fff;
  text-transform: uppercase;
  height: 2.5rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  border: 0;
  border-radius: 3px;
  margin-top: 2rem;
}

.signup-page {
  padding-top: 4rem;
}

.google {
  background-color: #dd4b39;
  color: #fff !important;
  margin-top: 1rem;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

a.google.btn {
  background-color: hsl(4, 86%, 40%);
  color: #fff !important;
  margin-top: 0.7rem;
  font-weight: 600;
  font-family: Inter;
  letter-spacing: 1px;
}

.sign-up-header-text {
  margin-bottom: 2rem;
  text-align: center;
}

.card-style {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  height: 27rem;
  margin-top: 1rem;
}

.btns:hover {
  background-color: #333;
}
.btns:disabled {
  background-color: rgba(35, 42, 52, 0.8);
}

a.google.btn:hover {
  background-color: hsl(4, 86%, 30%);
}

button.nav-btn.signup {
  background-color: transparent;
}

img.nav-menu {
  background-color: black;
}
label.chkBox-Msg {
  margin-left: 0.5rem;
}

/* NavDropDown  */

.nav-dropdown {
  list-style: none;
}
.nav-dropdown {
  padding: 0;
  margin: 0;
}
.nav-dropdown {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  display: inline-block;
  background-color: #fff;
  border-radius: 0.25rem;
  padding: 1rem;
}
.nav-dropdown :first-child {
  padding-top: 0.5rem;
}
.nav-dropdown :last-child {
  padding-bottom: 0.5rem;
}
ul.nav-dropdown > li {
  padding-top: 1rem;
}
.nav-dropdown {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateY(-10px);
}

.showDropDown:hover > .nav-dropdown {
  opacity: 1;
  transform: translateY(0);
}

.dropdown-title {
  color: black;
}
/* IndexDropDown */
.nav-service {
  font-family: Inter;
  font-weight: bold;
}

a.nav-li.nav-items {
  margin: 0;
  padding-top: 0;
  font-family: Inter;
  padding-bottom: 0;
  padding-right: 0.6rem;
  font-size: 0.99rem;
  font-weight: 800;
  letter-spacing: 0.8px;
  border: 0;
  margin-left: 1.2rem;
  color: #000;
}
a.nav-li.nav-items:hover {
  color: #dc4d40 !important;
}
a.text-sm.py-2.px-4.font-normal.block.w-full.whitespace-nowrap.bg-transparent.text-blueGray-700:hover {
  color: #dc4d40 !important;
}
/* Admin */
.menuBar-container {
  /* display: inline; */
  display: inline-block;
  background-color: #082032;
  /* height: 100vh; */
  overflow: hidden;
  border-top: 1px solid rgb(145, 140, 164, 0.4);
}
.doc-form-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.menu-items {
  padding: 0;
  margin: 0;
}
.menu-items > li {
  color: #fff;
  padding-top: 1.5rem;
  font-weight: 500;

  padding-bottom: 1rem;
  padding-right: 4rem;
  padding-left: 2rem;
}

.menu-title {
  color: #fff;
  font-weight: bold;
  padding-left: 3rem;
}

.menu-items > li:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* Add a Doctor Form */
.admin-container {
  display: flex;

  /* align-items: center; */
  flex-wrap: wrap;
}
input#dob {
  text-indent: 0.34rem;
}
.doc > p {
  border: 2px solid black;
  /* height: 100vh; */
}

.doc-form {
  margin-top: 0;
  width: 100%;
}

.doc-container {
  /* margin-left: auto;
  margin-right: auto;
  height: 100vh; */
  overflow: hidden;
  flex-wrap: wrap;
}

.doc-header {
  margin-top: -0.5rem;
  margin-bottom: 2.5rem;
}

.doc-form > article {
  margin-top: 0.3rem;
}

article.admin-container {
  /* background: url("./Images/na3.jpg"); */

  /* height: 100vh; */

  background-position: center;
  background-size: cover;
  overflow: hidden;
}
h2.menu-title {
  background-color: rgba(8, 23, 32, 1);
  margin-top: 2rem;
  padding-left: 3.5rem;
  font-size: 2.5rem;
}
h1.sign-up-header-text.doc-header {
  font-size: 2.7rem;
}
.doc-container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 200px) and (max-width: 790px) {
  h2.menu-title {
    padding: 0;

    font-size: 2rem;
  }
  .card-signup {
    margin-top: 2rem;
  }

  .admin-routes {
    display: block;
  }
  .menuBar-container {
    width: 100vw;
    text-align: center;
  }
  button.btns {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 900px) {
  .card-signup {
    width: 33rem;
  }
  .menuBar-container {
    height: 100vh;
    overflow: hidden;
  }
  .admin-routes {
    display: flex;
  }
}

/*AddService */

.addservice {
  height: 29rem;
  margin-top: 7rem;
}

.input-group {
  border: 1px solid black;
  border-radius: 31px;
  margin-right: 3rem;
}

.search-input {
  border-radius: 31px !important;
  outline: none !important;
}

.search-btn {
  background-color: var(--btnBackground);
  width: 10rem;
  border-radius: inherit;
  height: 3rem;
}

input.search-input {
  margin-right: 2rem;
}

/* Service Cards */

.service-cards {
  margin-top: 5rem;
  min-width: 200px;
  display: grid;
  width: 100%;

  grid-template: repeat(2, 330px) / repeat(3, 320px);

  justify-content: center;
  column-gap: 2rem;
  row-gap: 1rem;
}

.msg-above-home-cards {
  margin-top: 1.4rem;
}

@media screen and (min-width: 600px) and (max-width: 940px) {
  .service-cards {
    grid-template: repeat(3, 300px) / repeat(2, 300px);
  }
}

@media screen and (min-width: 300px) and (max-width: 599px) {
  .service-cards {
    grid-template: repeat(6, 300px) / repeat(1, 300px);
  }
}

button.btn.btn-primary {
  background-color: #fff;
  border: 2px solid #1b0760;
  border-radius: 2rem;
  color: #1b0760;
  font-weight: 600;
  outline: 0;
}

button.btn.btn-primary:hover {
  background-color: #1b0760;

  color: white;
}

/* Carasol */
.carousel-item {
  height: 29rem;
  margin-top: 1rem;
}
